/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.calculate-letters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.text-container {
  margin-top: 20px;
}

.heading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.label {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
}

.input-field {
  font-family: 'Roboto';
  font-size: 16px;
  color: #e4e7eb;
  font-weight: bold;
  border: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border-radius: 5px;
  padding: 15px;
  height: 40px;
  outline: none;
}

.no-of-letters-text {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  color: #219a6f;
  text-align: center;
  width: 160px;
}

.image {
  width: 250px;
}

@media (min-width: 576px) {
  .calculate-letters-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 90%;
  }

  .text-container {
    width: 50%;
  }

  .image {
    width: 50%;
  }

  .input-field {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .heading {
    font-size: 42px;
  }

  .label {
    font-family: 'Roboto';
    font-size: 16px;
    color: #ffffff;
  }

  .input-field {
    font-size: 20px;
    width: 95%;
  }

  .no-of-letters-text {
    font-size: 24px;
    width: 200px;
  }

  .text-container {
    width: 50%;
  }
  .image {
    width: 50%;
  }
}
